Repository liang235/uni-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, stylelint --cache --fix

更新
  package.json
  pnpm-lock.yaml
Due: prettier --write

更新
  pages.json
  pages/home/home.vue
  pages/index/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --cache --fix

更新
  .gitignore
  pages.json
  pages/home/home.vue
  pages/index/index.vue
Due: eslint --cache --fix, prettier --write, stylelint --cache --fix

更新
  .hbuilderx/launch.json
  .lintstagedrc
  config/env.js
  eslint.config.js
  manifest.json
  package.json
  pages/index/index.vue
  pnpm-lock.yaml
  stylelint.config.js
  vite.config.js
Due: eslint --cache --fix, prettier --write, stylelint --cache --fix

更新
  utils/request.js
  utils/system.js
  vite.config.js
Due: eslint --cache --fix, prettier --write

更新
  .prettierrc.js
Due: eslint --cache --fix, prettier --write

更新
  App.vue
  README.md
  pages/index/index.vue
  static/iconfont/demo.css
  static/iconfont/demo_index.html
  static/iconfont/iconfont.css
  static/iconfont/iconfont.js
  static/iconfont/iconfont.json
  static/iconfont/iconfont.ttf
  static/logo.png
  static/scss/uni-app.scss
  uni.scss
  uni_modules/uni-icons/changelog.md
  uni_modules/uni-icons/components/uni-icons/uni-icons.uvue
  uni_modules/uni-icons/components/uni-icons/uni-icons.vue
  uni_modules/uni-icons/components/uni-icons/uniicons.css
  uni_modules/uni-icons/components/uni-icons/uniicons.ttf
  uni_modules/uni-icons/components/uni-icons/uniicons_file.ts
  uni_modules/uni-icons/components/uni-icons/uniicons_file_vue.js
  uni_modules/uni-icons/package.json
  uni_modules/uni-icons/readme.md
  uni_modules/uni-scss/changelog.md
  uni_modules/uni-scss/index.scss
  uni_modules/uni-scss/package.json
  uni_modules/uni-scss/readme.md
  uni_modules/uni-scss/styles/index.scss
  uni_modules/uni-scss/styles/setting/_border.scss
  uni_modules/uni-scss/styles/setting/_color.scss
  uni_modules/uni-scss/styles/setting/_radius.scss
  uni_modules/uni-scss/styles/setting/_space.scss
  uni_modules/uni-scss/styles/setting/_styles.scss
  uni_modules/uni-scss/styles/setting/_text.scss
  uni_modules/uni-scss/styles/setting/_variables.scss
  uni_modules/uni-scss/styles/tools/functions.scss
  uni_modules/uni-scss/theme.scss
  uni_modules/uni-scss/variables.scss
Due: eslint --cache --fix, prettier --write, stylelint --cache --fix

更新
  App.vue
  static/scss/uview-plus.scss
Due: eslint --cache --fix, prettier --write, stylelint --cache --fix

更新
  .husky/pre-commit
  .lintstagedrc
  .prettierrc.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: :sparkles: 新增提交前检查
  .husky/commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

ci: :ferris_wheel: 更新
  commitlint.config.js
Due: eslint --cache --fix, prettier --write

ci: 是
  commitlint.config.js
Due: eslint --cache --fix, prettier --write

更新
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

hello world
  .husky/commit-msg
  .husky/pre-commit
Due: none

测试
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 更新
  .husky/commit-msg
  package.json
Due: prettier --write

docs: 更新
  README.md
Due: none

更新
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

更新
  uni.scss
Due: prettier --write, stylelint --cache --fix

更新
  package.json
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,jsx,vue}
  prettier --write: ((any of: *.{js,ts,jsx,vue}) or (any of: *.{css,scss,vue})) or (any of: *.json)
  stylelint --cache --fix: any of: *.{css,scss,vue}
